<div class="app">
  <md-toolbar class="main-header" color="secondary">
    <button md-raised-button color="primary" (click)="loadNewJobHandler()">Load new job</button>
    <div>&nbsp;{{ jobName }}</div>
    <div class="spacer"></div>
    <button md-raised-button color="primary" (click)="nextHandler()" [disabled]="quality === -1 || jobDone">Next pair
      &gt;
    </button>
  </md-toolbar>

  <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="!jobDone">
    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
      <md-card>
        <md-card-header style="height: 150px">
          <md-card-title>{{ pair.source.lang }}</md-card-title>
        </md-card-header>
        <md-card-content [innerHTML]="pair.source.text" class="page-wrapper" #source (scroll)="sourceScroll($event)">
        </md-card-content>
      </md-card>
    </div>

    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
      <md-card>
        <md-card-header style="height: 150px">
          <md-card-title>{{ pair.translation.lang }}</md-card-title>
          <md-card-subtitle>
            <md-select placeholder="Quality" [(ngModel)]="quality">
              <md-option *ngFor="let qualification of qualifications" [value]="qualification.QID">
                {{ qualification.Qualification }}
              </md-option>
            </md-select>
            <br>
            <md-select placeholder="Observation" [(ngModel)]="observation" [disabled]="quality === -1 || quality === 2">
              <md-option *ngFor="let observation of observations" [value]="observation.OID">
                {{ observation.Observation }}
              </md-option>
            </md-select>
          </md-card-subtitle>
        </md-card-header>
        <md-card-content [innerHTML]="pair.translation.text" class="page-wrapper" #translation (scroll)="translationScroll($event)">
        </md-card-content>
      </md-card>
    </div>
  </div>

  <div *ngIf="jobDone">
    <md-card style="width: 400px; margin: 20px auto 0">
      <md-card-header>
        <md-card-title>You are done!</md-card-title>
        <md-card-subtitle>Amazing job!</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        There is one tiny step left -- send us your results.
        <button md-raised-button color="primary" (click)="nextHandler()">Send</button>
      </md-card-content>
    </md-card>
  </div>

  <div class="footer" *ngIf="!jobDone">
    Copyright &copy; 2018 Datamundi -- Sentence Alignment Evaluation: URL Pair Qualification JobID: {{ meta.FileName }}
    -- DueDate: {{ meta.DueDate | date:'dd/MM/yyyy' }} -- Value: {{ meta.JobValue }} {{meta.Currency}} -- Support:
    gertva@datamundi.be
  </div>
</div>
